.message-time {
    margin: 0 !important;
    /* margin-left: 50px !important; */
    font-size: 12px;
    text-align: right;
    color: #000000;
}

.message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    font-size: 14px;
    padding-bottom: 0 !important;
  }