<h2>Profile</h2>
<div  *ngIf="user" >
<div class="row">
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <ngx-avatars size="100" name={{user.nickname}} class="my-4 mx-auto d-block"></ngx-avatars>
            <!-- <img [src]="'http://localhost:8080/images/'+ article.imageName" class="card-img-top" alt="image" style="height: 10rem;"> -->
            <div class="card-body">
                <p class="card-text text-center">Articles : {{user.nbArticles}}</p>
                <p class="card-text text-center">{{user.nickname}}</p>
                <p class="card-text text-center">{{user.email}}</p>
                
                
            </div>
        </div>  
    </div>
</div>
</div>

<div *ngIf="!user">
    <p>No user data available.</p>
</div>